.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem;
}

.transfer_info_area {
    background-color: white;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.transfer_info_header {
    margin: 0; /* ลดระยะห่างรอบข้อความ */
    display: flex;
    justify-content: space-between; /* ให้พื้นที่ระหว่างข้อความและปุ่ม */
    align-items: center; /* จัดแนวให้ตรงกลางแนวตั้ง */
}

.btn-close-container {
    margin-left: auto; /* ทำให้ปุ่มอยู่ชิดขวา */
}

/*ตาราง*/
.custom-table {
    width: 100%; /* ทำให้ตารางกว้างเต็มที่ */
    border-collapse: collapse; /* ทำให้เส้นกรอบติดกัน */
}

.custom-table thead th {
    background-color: #ffdf49; /* สีพื้นหลังของหัวตาราง */
    color: #333; /* สีข้อความ */
    padding: 20px; /* เพิ่มพื้นที่ด้านใน */
    height: 60px; /* กำหนดความสูงของหัวตาราง */
    text-align: center; /* จัดข้อความให้อยู่กลาง */
}

.custom-table th,
.custom-table td {
    border: 1px solid black; /* เส้นกรอบสีดำ */
    text-align: center; /* จัดข้อความกลาง */
    padding: 10px; /* เพิ่มระยะห่างภายใน */
    vertical-align: middle; /* จัดแนวตั้งกลาง */
    font-size: 14px; /* ขนาดตัวอักษรของข้อมูลในตาราง */
    height: 40px; /* ความสูงของข้อมูลในตาราง */
}